# Python
__pycache__/
*.pyc
venv/

# Environment variables
.env

# Logs
logs/

# Temporary files
temp_downloads/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Output folders
outputs/
uploads/.env
